# Ignore Microsoft AirSim Simulation Folders.
CityEnvironment/
CityEnvironmentV5/

# Ignore user-specific folders
*.user*

# Ignore user-generated content
Exports and Snapshots/

# Ignore Python Virtual Environment Folders.
# Note: Users will need to run the setup script to download the appropriate dependencies
venv/
SD1_Venv/
Testing_Venv/ 
__pycache__/

# Ignore MacOS DS Store
.DS_Store
Application/lxmert_best_model.pth
